EXPO_PUBLIC_SUPABASE_URL=your_supabase_project_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
EXPO_PUBLIC_RECEIPT_WORKER_URL=your_receipt_worker_url
EMAIL_LOGO_URL=your_public_email_logo_url
